{
	"env": {
		"test": {
			"plugins": [
				[
					"module-resolver",
					{
						"root": ["."],
						"alias": {
							"@": ".",
							"~": "."
						}
					}
				],
				["@babel/plugin-proposal-private-methods", { "loose": true }]
			]
		}
	}
}
